/* credits bennylin for Aksara Jawa fonts */
@font-face {
  font-family: 'Noto-Sans-Javanese';
  src: local("Noto-Sans-Javanese"),
       url('./fonts/noto2.eot'),
       url('./fonts/noto2.eot?#iefix') format('embedded-opentype'),
       url('./fonts/noto2.woff') format('woff'),
       url('./fonts/noto2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
    /* default color  */
    --black: #6C757D;
    --gray: #E4E4E4;

    --brown: #6A492B;
    --dark-brown: #47311C;
    --light-brown: #D2AC7F;
}

body {
    font-family: 'Mulish', sans-serif;
    margin : auto 0;
    min-height: 100vh;
    background-color: var(--light-dark-brown);
    color : var(--dark-brown);
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, h4, h5 {
  font-style: normal;
  font-weight: 900;
}

a {
  text-decoration: none;
  font-weight: 900;
  color: var(--dark-brown);
}

button {
  border: none;
  border-radius: 5px;
  color: var(--black);
}

button:focus {
  outline: 0;
}

#root {
  padding: 0px 62px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

#header {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

#logo {
  text-transform: lowercase;
  font-size: 28px;
  font-weight: 900;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

nav ul li {
  padding-right: 20px;
  display: inline;
}

nav ul li a {
  font-weight: 700;
}

.content-wrapper {
  flex: 1;
  overflow: auto;
  display: flex;
  height: auto;
}

/* Alignment */
.left-align{
  float: left;
}

.right-align{
  float: right;
}

.centered {
  text-align: center;
}

/* home */
.userdata {
  width: 290px;
}

.username {
  text-decoration: underline;
}

.stats {
  position: relative;
  padding-right: 60px;
}

.data {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 28px auto;
}

.data .number {
  width: 30%;
  text-align: right;
  margin-right: 12px;
  font-size: 36px;
  font-weight: 900;
}

.data .desc {
  width: 70%;
  text-align: left;
}

.reset-btn {
  cursor: pointer;
  width: 100%;
  background-color: #ffffff;
  color: var(--dark-brown);
  border: 2px solid var(--dark-brown);
  line-height: 32px;
  padding: 0px 32px;
  border-radius: 50px;
}

.username {
  cursor: pointer;
}

.username svg {
  margin-left: 6px;
}

main {
  flex: 1;
  overflow: auto;
}

main h1 {
  margin-bottom: 28px;
}

.message-card {
  position: relative;
  height: 40px;
  letter-spacing: 0.8px;
  font-weight: 900;
  color: #fff;
  padding: 17px 35px;
  background-color: var(--dark-brown);
  border-radius: 20px;
  margin-bottom: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-card a {
  padding: 8px 32px;
  background-color: #fff;
  border-radius: 50px;
}

.themes {
  position: relative;
}

.theme-card-wrapper {
  position: relative;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.theme-card {
  display: flex;
  flex-flow: column;
  height: 130px;
  padding: 30px 20px;
  cursor: pointer;
  background-color: var(--brown);
  color: var(--light-brown);
  letter-spacing: 0.8px;
  border-radius: 20px;
}

.theme-card h3 {
  margin: 0;
  font-size: 18px;
  color: #ffffff;
}

.theme-header {
  display: flex;
  justify-content: space-between;
}

.level {
  display: flex;
  justify-content: center;
  align-items: center;
}

.level span {
  position: absolute;
  color: #47311C;
  font-size: 24px;
  font-weight: 900;
}

.shield {
  font-size: 48px;
  color: #876741;
}

.progress {
  margin-top: auto;
  display: flex;
}

.progress .icon {
  position: relative;
  width: 20%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.in-progress,
.in-progress::before,
.in-progress::after {
  border-radius: 50px;
  width: 8px;
  height: 8px;
  background-color: var(--light-brown);
}

.in-progress::before {
  position: absolute;
  content: '';
  transform: translateX(-14px);
}

.in-progress::after {
  position: absolute;
  content: '';
  transform: translateX(14px);
}

.loading-bar {
  position: relative;
  width: 80%;
  background-color: var(--light-brown);
}

.loading-fill {
  position: absolute;
  width: 25%;
  background-color: #876741;
}

.loading-bar, 
.loading-fill {
  height: 8px;
  border-radius: 50px;
}

/* play */
.quiz-wrapper {
  z-index : 99;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.quiz {
  display: flex;
  width: 100%;
  flex-flow: column;
  justify-content: center;
  align-content: center;
}

.instruction {
  color: var(--dark-brown);
  font-size: 24px;
  font-weight: 900;
  width: 100%;
  text-align: center;
  margin-bottom: 84px;
}

.question-wrapper {
  display: flex;
  margin-bottom: 42px;    
  justify-content: center;
  align-items: center;
}

.question-wrapper .question-pieces:first-child {
  color: #523B35;
  margin-left: 0px;
}

.question-pieces {
  position: relative;
  margin-left: 24px;
  display: inline-block;
}

.aksara {
  font-family: 'Noto-Sans-Javanese';
  font-size: 42px;
  color: var(--gray); 
  margin-bottom: 36px;
}

.aksara.current {
  color: var(--dark-brown);
}

.aksara.answered {
  color: var(--dark-brown);
}

.latin {
  display: flex;
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 18px;
  height: 24px;
  color: var(--black);
  align-items: center;
  justify-content: center;
}

.latin .content {
  content: "";
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
}

.latin .content.current {
  width: 18px;
  border-bottom: 2px dotted var(--black);
}

.choices-wrapper {
  margin: 0 auto;
  display: block;
}

.choices-wrapper .choices:first-child {
  margin-left: 0;
}

.choices-wrapper .choices:last-child {
  margin-right: 0;
}

.choices {
  font-size: 16px;    
  font-weight: 900;
  margin: 0 12px;
  padding: 4px 12px;
  color: #523B35;
  background-color: var(--li);
  border: 2px solid var(--dark-brown);
  border-radius: 10px;
}

.choices:hover {
  cursor: pointer;
}

.close-btn {
  position: absolute;
  font-size: 42px;
  color: var(--dark-brown);
  left: 24px;
  top: 24px;
}

.settings-btn {
  position: absolute;
  font-size: 42px;
  color: var(--dark-brown);
  right: 24px;
  top: 24px;
}

.notification {
  position: absolute;
  bottom: 48px;
}

.notification div {
  position: relative;
  padding: 4px 24px;
  font-size: 14px;
  font-weight: 900;
  text-align: center;
  margin-top: 12px;
  color: #ffffff;
  background-color: var(--dark-brown);
  border-radius: 15px;
  bottom: 0;
  left: 0;
}

.notification div .icons {
  margin-right: 15px;
}

.progress-wrapper {
  position: absolute;
  top: 42px;
  width: 60%;
}

.progress-bar, 
.progress-fill {
  height: 10px;
  border-radius: 50px;
}

.progress-bar {
  width: 100%;
  background-color: var(--light-brown);
}

.progress-fill {
  position: absolute;
  width: 25%;
  background-color: #876741;
}

.converter { 
  position: relative;
  display: flex;
  width: 100%;
}

.input, .output {
  width: 50%;
  margin: 10px;
}

.box {
  width: 100%;
  min-height: 160px;
  border-radius: 15px;
  box-sizing: border-box;
}

.input textarea {
  padding: 14px 21px;
  font-size: 24px;
  font-family: 'Mulish', sans-serif;
  color: var(--dark-brown);
  margin: 0;
  resize: none;
  border: 1px solid #ebe7e3;
}

.input textarea:focus {
  outline: none;
}

.output .result {
  line-height: 64px;
  padding: 24px 21px;
  background-color: #ebe7e3;
  font-size: 32px;
  font-family: 'Noto-Sans-Javanese';
}

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 18px;
  margin-right: 8px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 24px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--dark-brown);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--dark-brown);
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}